body{
    font-family:"Open Sans",sans-serif;
    background-color:black;
    color:white;
    font-size:25px;
}
.container{
    width: 1000px;
    height: 550px;
    background-color:white;
    margin:20px auto;
}
.calculator{
    width:320px;
    height:510px;
    margin: -60 auto;
    top: 20px;                      
    position: relative;
    border-radius:20px;
    box-shadow: 0 4px 20px 0 black;
    background-color:rgb(26, 23, 23);
    padding-top:10;
}
.number{
    border-radius:50%;
    font-size:32px;
    padding:8px 15px;
    border:none;
    background-color:rgb(26, 23, 23); 
    color:white;
}
#operator1{
    border-radius:50%;
    font-size:32px;
    padding:8px 20px;
    background-color: rgb(102, 96, 96);
    border:none;
    color:white;
}
.operatorx{
    border-radius:50%;
    font-size:32px;
    padding:8px 18px;
    background-color: rgb(102, 96, 96);
    border:none;
    color:white;
}
.operator{
    background-color: rgb(102, 96, 96);
    border:none;
    border-radius:50%;
    font-size:32px;
    padding:8px 16px;
    color:white;
}
.function{
    border-radius:50%;
    font-size:28px;
    padding:8px 15px;
}
#output{
    margin:10px 20px;
    margin-top:50px;
    text-align:right;
    height:60px;
    resize: none;
    border:none;
    border-radius:5px;
    font-size:60;
    width:220;
    height:100;
    color:white;
    background-color:#606060;
    border:none;
}
.screen{
    margin-top:-10;
    height:150px;
    background-color:#606060;
    border-radius:10px;
}




